.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: -webkit-linear-gradient(90deg, #ef146c, #fb00aa, #e220f8);
  background: linear-gradient(90deg, #ef146c, #fb00aa, #e220f8);

  h1 {
    color: #fff;
    margin-bottom: 20px;
  }

  &Wrapper {
    width: 600px;
  }
}
