.FinishedQuiz {
  padding: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;

  ul,
  p {
    margin-bottom: 10px;
  }

  ul {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      i {
        margin-left: 10px;
      }
    }
  }

  .btn {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #fff;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    &:hover {
      background: #5041b2;
      color: #fff;
    }
  }

  .success {
    color: rgba(161, 240, 69, 0.7);
  }

  .error {
    color: rgba(240, 87, 108, 0.7);
  }
}
